.chat-main

  .main-header
    .main-header__left
      .main-header__left__title
        = @group.name
      .main-header__left__title__name
        Member:
        - @group.users.each_with_index do |user|
          = user.name
    .main-header__right
      = link_to "Edit", edit_group_path(@group), class: "main-header__right__btn--edit"

  .messages
    = render @messages
    .messages__date
      .messages__date__posts
        .messages__date__posts__title
        .messages__date__posts__name
      .lower-message

  .main-bottom
    = form_for [@group, @message] do |f|
      .main-bottom__text
        = f.text_field :content, class: 'main-bottom__text__message', placeholder: 'type a message'
        = f.label :image, class: 'main-bottom__text__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'main-bottom__text__image__file'
      = f.submit 'Send', class: 'submit-btn'


      